

<mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'" [color]="'accent'">
        <mat-tab label="Disponibles"><br><br><app-peliculas-disponible></app-peliculas-disponible><br><br></mat-tab>
        <mat-tab label="Estrenos"> <br><br><app-peliculas-estreno></app-peliculas-estreno><br><br></mat-tab>
        <mat-tab label="Preventa"><br><br><app-peliculas-preventa></app-peliculas-preventa><br><br></mat-tab>
        <mat-tab label="Proximamente"> <br><br><app-peliculas-proximamente></app-peliculas-proximamente><br><br></mat-tab>
</mat-tab-group>


<main class="container">

   
    
      





         
       
           
       
</main>


