<main class="container">
    <section>
        <h2>En estreno</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-estreno></app-peliculas-estreno>
        </div>
    </section>
    <section>
        <h2>En Preventa</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-preventa></app-peliculas-preventa>
        </div>
    </section>
    <section>
        <h2>Disponibles</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-disponible></app-peliculas-disponible>
        </div>
    </section>
    <section>
        <h2>Proximamente</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-proximamente></app-peliculas-proximamente>
        </div>
    </section>
</main>