<form>
  <mat-grid-list cols="2" rowHeight="2.5:1">
    <mat-grid-tile><p><mat-icon> fastfood</mat-icon>SNACKBAR: <br><br>Nachos con queso Y Gaseosa<br><br>Hot dog<br><br>CANGUIL PEQUEÑO 85oz<br><br>COMBO POP</p></mat-grid-tile>
    <mat-grid-tile><br><br>$5,00<br><br>$4,00<br><br>$2,00<br><br>$5,00</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile><p>Cargo por servicio confiteria * valor incluye iva</p></mat-grid-tile>
    <mat-grid-tile>$ 0,25</mat-grid-tile><mat-divider></mat-divider>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile><p>Cargo por servicio * valor incluye iva</p></mat-grid-tile>
    <mat-grid-tile>$ 0,75</mat-grid-tile><mat-divider></mat-divider>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="10:1">
    <mat-grid-tile><p>Total</p></mat-grid-tile>
    <mat-grid-tile>$ 16,00</mat-grid-tile><mat-divider></mat-divider>
  </mat-grid-list>
  <div id="medio">
    <button mat-raised-button (click)="onSubmit()" id="aceptar">Aceptar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
  </div>
</form>
