
 
<br><br>
<div class=" lista shadow">
  <br><br>
  <h4><mat-icon> fastfood</mat-icon> SNACKBAR</h4>
  <br>
  




  <div class="divTable minimalistBlack">
    <div class="divTableHeading">
    <div class="divTableRow">
    <div class="divTableHead">Cantidad</div>
    <div class="divTableHead">Producto</div>
    <div class="divTableHead">Precio</div>
    </div>
    </div>
    <div class="divTableBody">

    <div class="divTableRow" *ngFor="let item of carrito.xmap| keyvalue">

    <div class="divTableCell">{{item.value}}</div>
    <div class="divTableCell">{{item.key.nombre}}</div>
    <div class="divTableCell">${{item.key.precio}}</div>
    </div>

    </div>
    <div class="divTableFoot tableFootStyle">
    <div class="divTableRow">
    <div class="divTableCell">Total</div>
    <div class="divTableCell"></div>
    <div class="divTableCell">{{total}}</div> <!--total -->
      </div>
    </div>
    </div>

  <div id="medio"><form>

    <button mat-raised-button (click)="onSubmit()" id="aceptar">Aceptar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
  
</form></div>
</div>
  



