h4 {
  padding-top: 5rem;
}

table,
th,
td {
  border: 0.5px solid #fff;
  border-collapse: collapse;
}

table {
  width: 90%;
  margin: 10.5rem auto;
}

td {
  text-align: center;
}

thead,
tfoot {
  background-color: #263238;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #969696;
}

.acciones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .acciones {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 2rem 0;
  }
}
