p{
    font-style: italic;
}
#caja{
    width:fit-content;
    height:fit-content;
}
button {
    margin: 10px;
  }
  #aceptar{
    background-color: black;
    color: aliceblue;
  }
  #medio{
    margin-left: 950px;
  }