<h4><mat-icon> credit_card</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;  Metodo de Pago </h4> 

<div class="flex">
<div class="shadow card-row" *ngFor="let c of cards; let i = index;">
    <mat-card class="row">
        <div>
            <mat-card-title>{{c.nombre}}</mat-card-title>
            <small class="desc">{{c.descripcion}}</small>
        </div>
        <div class="info">
            <img class="img" src="{{c.img}}" alt="creditcard">
            
                <mat-form-field class="example-form-field"  [hidden]="true"  style="margin: 0 1rem;">
                   
                    <input readonly min="0" autocomplete="off" class="input" matInput type="text">
                    
                    <mat-radio-group  [name]="'op'"> 
                        <mat-radio-button  [name]="'op'" value="f" >  Pagar </mat-radio-button> 
                            </mat-radio-group> 
                    
                </mat-form-field>
        </div>
    </mat-card>
</div></div>