<app-hero></app-hero>

<main class="container">
    <section>
        <h2>En estreno</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-estreno></app-peliculas-estreno>
        </div>
    </section>
   
    <section>
        
        <div class="animate__animated animate__fadeIn">
           xd
        </div>

        <mat-card-actions class="mat-card-actions">
                
                <button mat-raised-button color="primary">Comprar</button>
        </mat-card-actions> 


    </section>




    
</main>