<app-hero></app-hero>

<main class="container">
    <section>
        <h2>En estreno</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <app-peliculas-estreno></app-peliculas-estreno>
        </div>
        <div class="ver">
            <a class="ver__link" mat-raised-button color="primary" href="/cartelera">Ver más</a>
        </div>
    </section>
    <section>
        <h2>Promociones</h2>
        <hr>
        <div class="animate__animated animate__fadeIn">
            <div class="promocion">
                <div class="ripple-prom" matRipple>
                    <div class="fondo">
                        <img src="../../../assets/img/prom/prom_6.png" alt="">
                    </div>
                </div>
                <div class="ripple-prom" matRipple>
                    <div class="fondo">
                        <img src="../../../assets/img/prom/prom_5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="ver">
                <a class="ver__link" mat-raised-button color="primary" href="/promociones">Ver más</a>
            </div>

        </div>
    </section>

</main>