       
<form>
    <mat-grid-list cols="2" rowHeight="8:1" style="text-align: start;">
        <mat-grid-tile><p><mat-icon>movie</mat-icon>PELÍCULA:</p></mat-grid-tile>
        <mat-grid-tile>GATO CON BOTAS: EL ULTIMO DESEO<br>Lunes 26 de Enero del 2023 13:00PM</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile><p><mat-icon>videocam</mat-icon>TEATRO: </p></mat-grid-tile>
        <mat-grid-tile>Zinema<br>Sala 4</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile><p><mat-icon> local_activity</mat-icon>TARIFA/ENTRADAS:</p></mat-grid-tile>
        <mat-grid-tile>$10,00</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="9:1">
        <mat-grid-tile><p><mat-icon>event_seat</mat-icon>SILLAS:</p></mat-grid-tile>
        <mat-grid-tile>A3</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile><p><mat-icon> fastfood</mat-icon>SNACKBAR: <br><br>Nachos con queso Y Gaseosa<br><br>Hot dog</p></mat-grid-tile>
        <mat-grid-tile><br><br>$5,00<br><br>$4,00</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile><p>Cargo por servicio confiteria * valor incluye iva</p></mat-grid-tile>
        <mat-grid-tile>$ 0,25</mat-grid-tile><mat-divider></mat-divider>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile><p>Cargo por servicio * valor incluye iva</p></mat-grid-tile>
        <mat-grid-tile>$ 0,75</mat-grid-tile><mat-divider></mat-divider>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="10:1">
        <mat-grid-tile><p>Total</p></mat-grid-tile>
        <mat-grid-tile>$ 20,00</mat-grid-tile><mat-divider></mat-divider>
      </mat-grid-list>
    </form>
