       




<div class="resume">
  <mat-grid-list cols="2" rowHeight="40">
    <mat-grid-tile><h4><mat-icon>movie</mat-icon>PELÍCULA</h4></mat-grid-tile>
    <mat-grid-tile><p> {{datos[0]}}</p></mat-grid-tile>
    <mat-grid-tile><h4><mat-icon>calendar_today</mat-icon>FECHA:</h4></mat-grid-tile>
    <mat-grid-tile><p> {{datos[2]}}</p></mat-grid-tile>
    <mat-grid-tile> <h4> <mat-icon> local_activity</mat-icon>TARIFA/ENTRADAS:</h4></mat-grid-tile>
    <mat-grid-tile><p> {{datos[1]}}</p></mat-grid-tile>
    <mat-grid-tile><h4><mat-icon>event_seat</mat-icon>SILLAS:</h4></mat-grid-tile>
    <mat-grid-tile><p> {{datos[4]}}</p></mat-grid-tile>
    <mat-grid-tile><h4><mat-icon> local_offer</mat-icon>CANT. ENTRADAS:</h4></mat-grid-tile>
    <mat-grid-tile><p> {{datos[3]}}</p></mat-grid-tile>
  </mat-grid-list>
    

</div>

        <mat-icon> fastfood</mat-icon>SNACKBAR: <br><br>Nachos con queso Y Gaseosa<br><br>
      
      
