<section class="container">
    <h2 style="margin-top: 3rem;">Registro</h2>
    <hr>
    <form class="example-form shadow" (ngSubmit)="Submit()">
        <fieldset class="fieldset">
            <div class="divLegend">
                <legend>Información personal</legend>
            </div>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput [formControl]="nombresFormControl" placeholder="Juan Pita">
                            <mat-error *ngIf="nombresFormControl.hasError('required')">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Apellido</mat-label>
                            <input type="text" matInput [formControl]="apellidosFormControl" placeholder="ALvarez Borque">
                            <mat-error *ngIf="apellidosFormControl.hasError('required')">
                                El apellido es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                </tr>
                <tr class="separador"></tr>
                <tr>

                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <span matPrefix>+593 &nbsp;</span>
                            <input [formControl]="telfFormControl" type="tel" matInput placeholder="555-555-12">
                            <mat-error *ngIf="telfFormControl.hasError('required')">
                                Teléfono es <strong>requerido</strong>
                            </mat-error>
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Cedula de identidad</mat-label>
                            <input type="text" matInput [formControl]="cedulaFormControl" placeholder="09999999">
                            <mat-error *ngIf="cedulaFormControl.hasError('required')">
                                La C.I es <strong>requerido</strong>
                            </mat-error>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>

                    </td>

                </tr>
                <tr class="separador"></tr>

            </table>


            <table class="example-full-width s-r" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Ciudad</mat-label>
                            <input type="text" matInput [formControl]="ciudadFormControl" placeholder="Guayaquil">
                            <mat-error *ngIf="ciudadFormControl.hasError('required')">
                                La ciudad es <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Dirección</mat-label>
                            <input type="text" matInput [formControl]="direccionFormControl" placeholder="esquina sur">
                            
                            <mat-error *ngIf="direccionFormControl.hasError('required')">
                                La dirección es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                </tr>
                <tr class="separador"></tr>
            </table>

            <div class="divLegend">
                <legend>E-mail de acceso</legend>
            </div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    ingrese un email valido
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de usuario</mat-label>
                <input type="email" matInput [formControl]="usernameFormControl" placeholder="Er1234">
                
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    nombre usuario <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input type="password" matInput [formControl]="passwordFormControl" placeholder="123243">
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                contraseña <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Repite la contraseña</mat-label>
                            <input type="password" matInput [formControl]="passwordrepeatFormControl" placeholder="123">
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                contraseña <strong>requerida</strong>

                            </mat-error>
                        </mat-form-field></td>

                </tr>
            </table>

            <button mat-raised-button type="submit" color="primary">Registrar</button>



        </fieldset>

    </form>
</section>