

<section class="container">
    <h2 style="margin-top: 3rem;">Registro</h2>
    <hr>
    <form class="example-form shadow">
        <fieldset class="fieldset">
            <div class="divLegend" > <legend>Información personal</legend></div>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput [formControl]="nombres" placeholder="Juan Pita">
                            <mat-error *ngIf="nombres.hasError('required')">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Apellido</mat-label>
                            <input type="text" matInput [formControl]="apellidos" placeholder="ALvarez Borque">
                            <mat-error *ngIf="apellidos.hasError('required')">
                                El apellido es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                </tr>
                <tr class="separador"></tr>
                <tr>

                    <td>
                <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <span matPrefix>+593 &nbsp;</span>
                <input [formControl]="telf" type="tel" matInput placeholder="555-555-12">
                <mat-error *ngIf="telf.hasError('required')">
                    Teléfono es <strong>requerido</strong>
                </mat-error>
                <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                </td>

                <td> 
                    <mat-form-field class="example-full-width">
                        <mat-label>Cedula de identidad</mat-label>
                        <input type="text" matInput [formControl]="cedula" placeholder="09999999">
                        <mat-error *ngIf="cedula.hasError('required')">
                            La C.I es <strong>requerido</strong>
                        </mat-error>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>

                </td>

                </tr>
                <tr class="separador"></tr>

            </table>
            

            <table class="example-full-width s-r" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Ciudad</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Insgrese una ciudad válida
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                La ciudad es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Dirección</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Inserte una dirección válida
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                La dirección es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                </tr>
                <tr class="separador"></tr>
            </table>

            <div class="divLegend" > <legend>E-mail de acceso</legend></div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nombre de usuario</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Contraseña</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Repite la contraseña</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Email is <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>

                </tr>
            </table>

            <button mat-raised-button color="primary">Registrar</button>



        </fieldset>

    </form>
</section>
