.example-form {
  min-width: 150px;
  max-width: 750px;
  width: 100%;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
  width: 250px;
}

.fieldset {
  border: none;
}

tr {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  tr {
    display: table-row;
  }
}

.separador{
  height: 30px;
}

.separadordatos{
  height: 60px;
  background-color: black;
}

.divLegend{
  background-color: rgb(39, 39, 39);
   color: white;
}