<div class="grid" >
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile >
        <div class="ripple-prom" matRipple  (click)="palomitas()">
           <div class="fondo">
            <img src="../../../assets/img/prom/prom_1.png" alt="">
           </div>
        </div> 
      </mat-grid-tile>
      <mat-grid-tile><div class="ripple-prom"
        matRipple (click)="descuento()"> <div class="fondo">
          <img src="../../../assets/img/prom/prom_3.png" alt="">
         </div>
    </div></mat-grid-tile>
      <mat-grid-tile><div class="ripple-prom"
        matRipple
        > <div class="fondo">
          <img src="../../../assets/img/prom/prom_5.png" alt="">
         </div>
    </div></mat-grid-tile>
      <mat-grid-tile><div class="ripple-prom"
        matRipple> <div class="fondo">
          <img src="../../../assets/img/prom/prom_6.png" alt="">
         </div>
    </div></mat-grid-tile>
    </mat-grid-list>  
  </div>
  
  
