<main class="container">
  <h2>Gran oferta</h2>

  <small>Valído solo en el establecimiento, hasta agotar stock*</small>
  <hr>
  <h3>Coleccionables</h3>
  <div class="grid">
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-avatar.jpg" alt="">
      </header>
      <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
          accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-black-adam.jpg" alt="">
      </header>
      <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
          accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-panter.jpg" alt="">
      </header>
      <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
          accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/v-encanto.jpg" alt="">
      </header>
      <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
          accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
      </footer>

    </div>
  </div>
  <!-- COLECCIONES -->
  <br>
  <h3>Promociones disponibles</h3>
  <hr>
  <div>
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile style="cursor: pointer;">
        <div matRipple (click)="palomitas()">
          <div>
            <img src="../../../assets/img/prom/prom_1.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple (click)="descuento()">
          <div>
            <img src="../../../assets/img/prom/prom_3.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple>
          <div>
            <img src="../../../assets/img/prom/prom_5.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple>
          <div>
            <img src="../../../assets/img/prom/prom_6.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</main>