<main class="container">
  <h2>Gran oferta</h2>

  <small>Valído solo en el establecimiento, hasta agotar stock*</small>
  <hr>
  <h3>Coleccionables</h3>
  <div class="grid">
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-avatar.jpg" alt="">
      </header>
      <footer>
        <p>Sumérgete a esta aventura con esta bucket promocional de la película "Avatar: El camino del agua".</p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-black-adam.jpg" alt="">
      </header>
      <footer>
        <p>Siente la fuerza en tus palomitas con esta increíble bucket promocional junto al estreno de la película de "Black Adam". </p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/b-panter.jpg" alt="">
      </header>
      <footer>
        <p>Experimenta una fiereza perpetua con la bucket promocional junto con la nueva película de Marvel WAKANDA FOREVER".</p>
      </footer>

    </div>
    <div class="shadow card">
      <header>
        <img src="../../../assets/img/promociones/v-encanto.jpg" alt="">
      </header>
      <footer>
        <p>Disfruta una experiencia en familia con tu vaso promocional junto a Mirabel descubriendo los secretos de su familia en "ENCANTO"</p>
      </footer>

    </div>
  </div>
  <!-- COLECCIONES -->
  <br>
  <h3>Promociones disponibles</h3>
  <hr>
  <div>
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile style="cursor: pointer;">
        <div matRipple (click)="palomitas()">
          <div>
            <img src="../../../assets/img/prom/prom_1.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple (click)="descuento()">
          <div>
            <img src="../../../assets/img/prom/prom_3.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple>
          <div>
            <img src="../../../assets/img/prom/prom_5.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
      <br>
      <mat-grid-tile>
        <div matRipple>
          <div>
            <img src="../../../assets/img/prom/prom_6.png" alt="">
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</main>