.example-card {
  max-width: 400px;
}

button {
  margin: 55rem;
}

small {
  background-color: #919191;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

mat-card {
  margin: 1rem 0;
}

mat-card-actions {
  width: 19rem;
  margin: 0 auto;
}

mat-card-subtitle {
  margin-bottom: 0.5rem;
  background-color: #f0f0f0;
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.shadow {
  -webkit-box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
  -moz-box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
  box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
}

.map {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.red {
  background-color: red;
  width: 40rem;
}

.no {
  display: none;
}
