.example-card {
  max-width: 60rem;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.titulos {
  font-weight: 700;
  color: #263238;
}

.perfil {
  display: block;
  margin: 2rem 0;
}

@media (min-width: 768px) {
  .perfil {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 2rem;
  }
}

img {
  width: 100%;
  margin: 0 auto;
}

h3 {
  text-align: start;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
