<mat-toolbar color="primary">

    <!-- <span class="example-spacer"></span> -->

    <a href=""><img src="../../../assets/img/zinema.png" alt="Zinema-logo" height="90rem" /></a>

    <!-- <span class="example-spacer"></span> -->

    <a class="example-spacer" mat-button href="https://www.google.com/" target="_blank">Cartelera</a>
    <a class="example-spacer" mat-button href="https://www.google.com/" target="_blank">SnackBar</a>
    <a class="example-spacer" mat-button href="https://www.google.com/" target="_blank">Promociones</a>

    <!-- <span class="example-spacer"></span> -->

    <button mat-raised-button color="white">Primary</button>
    <!-- <span class="example-spacer"></span> -->

</mat-toolbar>