<mat-toolbar color="primary">


    <a href=""><img src="../../../assets/img/zinema.png" alt="Zinema-logo" height="90rem" /></a>


    <a class="example-spacer" mat-button href="/cartelera">Cartelera</a>
    <a class="example-spacer" mat-button href="/snack-bar">SnackBar</a>
    <a class="example-spacer" mat-button href="/promociones">Promociones</a>

    <button mat-raised-button (click)="openDialogSesion()" *ngIf="loginService.username.length==0">Iniciar Sesion</button>

    <button mat-raised-button [matMenuTriggerFor]="menu" *ngIf="loginService.username.length>0" id="user">Bienvenido {{loginService.username}}</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item (click)="Salir()">Cerrar Sesion</button>
    </mat-menu>

</mat-toolbar>