<mat-card>
    <mat-card-header>
      <mat-card-title><img src="https://static.vecteezy.com/system/resources/previews/008/506/363/non_2x/green-tick-icons-passed-accepted-agreed-valid-confirmed-seen-access-3d-illustration-free-png.png"><br>Su compra se realizo exitosamente</mat-card-title>
      <mat-card-subtitle>Volviendo a la pantalla principal<br></mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="salir()" id="medio">Aceptar</button>
    </mat-card-actions>
  </mat-card>
