<div>
<mat-card>

    <form [formGroup]="pagoNuevo">
        <mat-grid-list cols="3" rowHeight="2:1">
        <div>
            <p>Informacion del usuario</p>
            <mat-grid-tile>
            <mat-icon>face</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Nombre Completo" formControlName="nombres">
            </mat-form-field>
        </mat-grid-tile>
        </div>

        <div>
            <mat-grid-tile>
            <mat-icon> email</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Correo eléctronico" formControlName="correo">
            </mat-form-field>
        </mat-grid-tile>
        </div>

        <div>
            <mat-grid-tile>
            <mat-icon>settings_phone</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Número de teléfono" formControlName="numero">
            </mat-form-field>
        </mat-grid-tile>
        </div>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="2:1">
        <div>
        <p>Informacion de la tarjeta</p>
            <mat-grid-tile>
            <mat-icon>picture_in_picture</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Nombre como aparece en la tarjeta" formControlName="nombret">
            </mat-form-field>
        </mat-grid-tile>
        </div>

        <div>
            <mat-grid-tile>
            <mat-icon>payment</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Número de tarjeta" formControlName="tarjeta">
            </mat-form-field>
        </mat-grid-tile>
        </div>

        <div>
            <mat-grid-tile>
            <mat-icon>lock</mat-icon>
            <mat-form-field class="campos-field">
                <input matInput placeholder="Codigo de seguridad" formControlName="codigo">
            </mat-form-field>
        </mat-grid-tile>
        </div>
    </mat-grid-list>
    </form>

    <button mat-raised-button [disabled]="!pagoNuevo.valid" (click)="onSubmit()">Aceptar</button>
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
</mat-card>
</div>