@import url("./assets/css/color-palette.css");
@import url("./assets/css/typography.css");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globals */

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font);
}

p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: min(90%, 140rem);
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.4rem;
}

/* CARDS */
.example-card {
  max-width: 42rem;
}

.shadow {
  -webkit-box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
  -moz-box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
  box-shadow: -2px 4px 19px -4px rgba(145, 145, 145, 1);
}

.core {
  margin-bottom: 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
  }
}

.cards {
  width: 35rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.mat-card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.mat-card-subtitle {
  background-color: #30475E;
  padding: 0.2rem 2rem;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 1rem;
  color: white;
}

.mat-card-img {
  display: flex;
  justify-content: center;
}

.mat-card-actions {
  width: 20rem;
  margin: 0 auto;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
