<div>
  <mat-card class="card">
    <mat-card-header>

      <mat-card-title>PROMOCION</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/img/prom/prom_4.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Descarga el vale y muestralo en tiendas exclusivamente fisica
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a href="../../../../assets/img/prom_pdf/2.pdf" download="promocion.pdf">Descargar</a></button>

    </mat-card-actions>
  </mat-card>
</div>