<article class="container">
    <h2>Promociones</h2>
    <small>Valído solo en el establecimiento, hasta agotar stock*</small>
    <hr>
    <div class="grid">
        <div class="shadow card">
            <header>
                <img src="../../../assets/img/promociones/b-avatar.jpg" alt="">
            </header>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
                    accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
            </footer>

        </div>
        <div class="shadow card">
            <header>
                <img src="../../../assets/img/promociones/b-black-adam.jpg" alt="">
            </header>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
                    accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
            </footer>

        </div>
        <div class="shadow card">
            <header>
                <img src="../../../assets/img/promociones/b-panter.jpg" alt="">
            </header>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
                    accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
            </footer>

        </div>
        <div class="shadow card">
            <header>
                <img src="../../../assets/img/promociones/v-encanto.jpg" alt="">
            </header>
            <footer>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur accusamus tempora sed illum eos vero, iure, distinctio aliquam iusto quos vel expedita
                    accusantium mollitia nostrum incidunt nam placeat illo? Deserunt?</p>
            </footer>

        </div>
    </div>
</article>